{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Registre-se</title>
    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
        
    <!-- Cabeçalho da página com logo e botões de navegação -->
    <div class="cabecalho">
            <div id="logo_box">
                <a href="{% url 'index' %}" ><img id="logo" src="{% static 'img/logo.png' %}" alt="">
                </a> 
            </div>
            <div id="cabecalho_button">
                    <a class="cabecalho_link" href="{% url 'login_view' %}">Login</a>
                    <a class="cabecalho_link" href="{% url 'register_view' %}">Register</a>
            </div>
    </div>

     <!-- Imagem de fundo e caixa de registro -->
    <div class="wallpaper_grande">
        <div class="register_box">
            <h2>Registre-se</h2>
            
          {# Formulario de Registro de usuario #}
          <form class="register_form" method='POST'>
              {% csrf_token %}
              <p>🔹 Escolha um nome de usuário sem espaços (ex: joaosilva, maria_123).</p>
              {{ form.username}}
              {{ form.email}}
              {{ form.password1}}

            <!-- Regras para senha -->
            <div class="senha-regras">
                <p>🔒 Sua senha deve:</p>
                <ul>
                    <li>Ter pelo menos 8 caracteres;</li>
                    <li>Não ser parecida com seu nome ou e-mail;</li>
                    <li>Não ser uma senha comum (ex: "123456", "senha123");</li>
                    <li>Não ser composta apenas por números.</li>
                </ul>
            </div>
              
              {{ form.password2}}
              <button id="register_button" type="submit">Cadastrar</button>
          </form>
        </div>
    </div>

        <!--Rodapé com contato e GitHub-->
        <footer class="rodape">
            <p>Confira meu GitHub: <a href="https://github.com/Otavio72">Otavio72</a></p>
            <p>© 2025 Otávio Ribeiro. Todos os direitos reservados.</p>
        </footer> 
</body>
</html>
